<!-- <main ng-controller="GiphyController as giphy"> -->
  <h1>Giphy!</h1>
  <!-- ng model is the search input field -->
<div>
  <input type ="text" ng-model="giphy.searchQuery" placeholder="Search for a Giphy">
  <input type = "submit" id="submit" ng-click= "giphy.searchForGiphy(giphy.searchQuery)">
    <button ng-class="{ active: giphy.displayed }"ng-click ="giphy.addRandomGiphy()">Random Selection</button>
    <img ng-src = "{{giphy.imageUrl}}"/>
</div>
<div>
    <input type="text" name="comment" placeholder="Comment" ng-model ="giphy.favComment">
  </div>
    <div>
    <button type="button" id ="addFav" ng-click ="giphy.addFavoriteGiphy()">Favorite this</button>
  </div>
  <div>
  <ul>
    <li ng-repeat="search in giphy.search"><img ng-src = "{{search.images.downsized.url}}"/></li>
  </ul>
</div>
