  <h1>Giphy!</h1>
<div>
  <input type ="text" ng-model="giphy.searchQuery" placeholder="Search for a Giphy">
  <input type = "submit" id="submit" ng-click= "giphy.searchForGiphy(giphy.searchQuery)">
    <button ng-class="{ active: giphy.displayed }"ng-click ="giphy.addRandomGiphy()">Random Selection</button>
    <img ng-src = "{{giphy.imageUrl}}" ng-show= "giphy.imageUrl"/>
</div>
<div>
    <input type="text" name="comment" placeholder="Comment" ng-model ="giphy.favComment">
    {{giphy.favComment}}
  </div>
    <div>
    <button type="button" ng-click ="giphy.saveAsFavoriteGiphy()">Favorite this</button>
  </div>
  
